#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    /* Apilar mensajes verticalmente */
    align-items: center;
    justify-content: center;
    min-width: 250px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

#toast.show {
    opacity: 1;
    bottom: 50px;
}

#toast.hidden {
    opacity: 0;
    bottom: 20px;
    pointer-events: none;
}

/* Estilo para el mensaje de error */
#toast.error {
    background: rgba(255, 0, 0, 0.9);
    color: white;
}

/* Estilo para el mensaje de éxito */
#toast.success {
    background: rgba(0, 128, 0, 0.9);
    /* Color verde */
    color: white;
}

#error-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    line-height: 1.5;
}

/* Notifications */

.inbox-icon-container {
    position: relative;
}

.notification-count {
    position: absolute;
    top: 2px;
    /* Ajusta para que esté más cerca de la esquina superior derecha */
    right: 2px;
    /* Ajusta para que esté más cerca de la esquina superior derecha */
    background-color: red;
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}